.MuiCarousel-root {
    background-color: #f8f9fa;
    border-radius: 8px;
  }
  
  .MuiCarousel-indicator .Mui-selected .bg-white{
    background-color: #FF0000!important;
  }
  
  .MuiCarousel-indicator .MuiButtonBase-root {
    background-color: #ccc;
  }
  
  .MuiCarousel-navButton {
    color: #FF0000;
  }
  
  .MuiCarousel-navButton:hover {
    background-color: #FFCCCC;
  }